doctype 5
html(lang="en")
    head
        title= title
        meta(name="viewport", content="width=device-width", initial-scale="1.0")
        link(href="css/nv.d3.css", rel="stylesheet")
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/bootstrap-responsive.min.css", rel="stylesheet")
        link(href="css/styles.css", rel="stylesheet")

        link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet', type='text/css')

        script(src="js/jquery-2.0.1.min.js", type="text/javascript")
        script(src="js/bootstrap.min.js")
        script(src="js/nvd3/lib/d3.v2.min.js")
        script(src="js/nvd3/nv.d3.min.js")
        script(src="js/nvd3/utils.js")
        script(src="js/nvd3/models/sparkline.js")
        script(src="js/nvd3/models/line.js")
        script(src="js/app.js", type="text/javascript")

    body
        h1= title
        .row
            #Temperature.info.big.span4
                .row
                    .span4
                        h3 Temperature
                .row
                    .span2.text-right
                        span.value 0
                        | &deg;
                    .span2
                        svg.sparkline
                .row
                    .span4
                        svg.chart

            #Humidity.info.big.span4
                .row
                    .span4
                        h3 Humidity
                 .row
                    .span2.text-right
                        span.value 0
                        | %
                    .span2
                        svg.sparkline
                .row
                    .span4
                        svg.chart
                        
            #Moisture.info.big.span4
                .row
                    .span4
                        h3 Soil Moisture
                .row
                    .span2.text-right
                        span.value 0
                        | ?
                    .span2
                        svg.sparkline
                .row
                    .span4
                        svg.chart

        .row
            .info.medium.span12
                .row
                    #Pumping.span12
                        i
                        span Pump is running
                    #Water.span12
                        i
                        span Enough water
                .row
                    .span12
                        svg.chart
                

        .row
            #PanelLight.info.small.span6
                span.value 0
            #BedLight.info.small.span6
                span.value 0
        
